<% if user_signed_in? %>
<div class="main">
  <div class="friend-bar">
    <% if @requests.length > 0 %>
      <div class="requests">
        <div class="friend-bar-header">Friend Requests:</div>
        <% @requests.each do |requestor| %>
          <div class="friend-bar-object">
            <%= link_to "#{User.find(requestor.befriendor_id).first_name} #{User.find(requestor.befriendor_id).last_name}", user_show_path(User.find(requestor.befriendor_id)) %>
            <%= render "friendships/update", friendship: requestor.id %><%= render "friendships/destroy", friendship: requestor.id %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @pending.length > 0 %>
      <div class="pending">
        <div class="friend-bar-header">Pending Requests:</div>
        <% @pending.each do |requestee| %>
          <div class="friend-bar-object"> 
            <%= link_to "#{User.find(requestee.befriendee_id).first_name} #{User.find(requestee.befriendee_id).last_name}", user_show_path(User.find(requestee.befriendee_id)) %>
            <%= render "friendships/destroy", friendship: requestee.id %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="friends">
      <div class="friend-bar-header">Friends:</div>
      <% @friends.each do |friend| %>
        <div class="friend-bar-object">
          <%= link_to "#{friend.first_name} #{friend.last_name}", user_show_path(friend) %>
        </div>
      <% end %>
    </div>
    <div class="new-friends">
      <div class="friend-bar-header">New Friends?</div>
      <% @users.each do |user| %>
        <div class="friend-bar-object">
          <%= link_to "#{user.first_name} #{user.last_name}", user_show_path(user) %>
          <%= render "friendships/new", user: user %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="new-post">
      <div class="post-box">
        <div class="post">
          Post
        </div>
        <div class="picture">
          Photo
        </div>
        <br>
      </div>
      <%= render "sayings/new" %>
    </div>
    <% @relavent_sayings.each do |saying|%>
      <%= render "sayings/show", saying: saying %>
    <% end %>
  </div>
</div>
<% else %>
  You must sign in before you can do anything.<br>
<% end %>
